Source: network-checker
Section: unknown
Priority: net
Maintainer: Mirantis Product <product@mirantis.com>
Build-Depends: debhelper (>= 8.0.0),
               python-setuptools
X-Python-Version: 2.6, 2.7
Standards-Version: 3.9.2
Homepage: mirantis.com

Package: network-checker
Replaces: nailgun-net-check
Conflicts: nailgun-net-check
Architecture: all
Depends: python-cliff,
         python-daemonize,
         python-netifaces,
         python-pypcap,
         python-requests,
         python-scapy,
         python-six,
         python-stevedore,
         python-yaml,
         tcpdump,
         vlan,
         ${misc:Depends},
         ${python:Depends}
Description: Network connectivity check tool
 .
